@import '../styles/variables';

header {
  @include rowDisplay();
  align-items: center;
  padding: 1%;
  width: 100%;
  .header-text  {
    @include rowDisplay();
  }
  h1 {
    @include headerFont(3.5em);
    margin: 7px;
  }
  .giphy-header {
    background: -webkit-radial-gradient(rgba(18,194,233,1) 10%, rgba(196,113,237,1) 57%, rgba(246,79,89,1) 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}