@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$archivoBlackFont: 'Archivo Black', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$richBlack: #020402;

@mixin generalDisplay() {
  display: flex;
  flex-direction: column;
}

@mixin rowDisplay() {
  display: flex;
  flex-direction: row;
}

@mixin headerFont($fontSize) {
  font-family: $archivoBlackFont;
  color :white;
  font-size: $fontSize;
  margin: 0;
}

@mixin textFont($fontSize) {
  color :white;
  font-size: $fontSize;
  font-family: $robotoFont;
}

@mixin button {
  background: rgb(18,194,233);
  background: radial-gradient(circle, rgba(18,194,233,1) 10%, rgba(196,113,237,1) 57%, rgba(246,79,89,1) 96%);
  border-radius: 6px;
  border: none;
  @include textFont(1.25em);
  text-shadow: 1px 1px black;
  &:hover {
    box-shadow: 1px 1px 10px white;
    color: white;
    font-weight: 800;
  }
}