@import '../styles/variables';

.search-form {
  @include rowDisplay();
  margin-left: 32em;
  input {
    @include textFont(1.5em);
    color: $richBlack;
    border: none;
    border-radius: 6px 0px 0px 6px;
    padding: .5%;
    ::placeholder {
      color: $richBlack;
    }
  }
  button {
    @include button;
    border-radius: 0px 6px 6px 0px;
  }
}